*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* shared style start*/
.container{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    align-items: center;
    display: inline-flex;
    gap: 12px;
    background-color: #469165;
    font-family: 'Inter', sans-serif; 
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border: none; 
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #ffffff;
    color: #469165;
    border: 1px solid #469165;
    cursor: pointer;
    transition: all 0.3s ease;
    transform: translateY(-2px);
}
.text-center{
    text-align: center;
}
/* shared style end*/


/* main style start */

#head{
    background-color: #ffffff;
}
#head .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.header-container .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center ;
}

.header-container .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
.header-container .menu a:hover{
    color: #469165;
}
#hero{
   background-image: url('./assets/hero-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
}
#hero .banner-container{
    padding: 115px 120px 172px ;
    margin: 0 auto;
}
.hero-top-btn{
    display: inline-flex;
    gap: 7px;
    font-size: 16px;
    font-weight: 600;
    background-color: #ffffff;
    color: #469165;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    margin-bottom: 16px;
    transition: all 0.3s ease;
    align-items: center;
}
.hero-top-btn:hover{
    background-color: #469165;
    color: #ffffff;
    cursor: pointer;
    transform: translateY(-2px);
}
#hero h1{
    font-size: 72px;
    color: #ffffff;
    line-height: 82px;
    margin-bottom: 16px;
}
#hero p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;    
    margin-bottom: 32px;
}
.btn-btn {
  align-items: center;
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  gap: 12px;
  background: transparent;
  color: #ffffff;
  font-family: 'Inter', sans-serif; 
  font-size: 16px;
  font-weight: 500;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-btn:hover {
  border-color: #469165;
  transform: translateY(-2px);
  color: #469165;
}
.hero-two-button{
    display: flex;
    gap: 16px;
    justify-content: center;
}
#notes .note-container{
    align-items: center;
}
#notes .note-top h2{
    font-size: 48px;
    margin: 60px auto 20px;
}
#notes .note-top p{
    font-size: 16px;
    color: #627382;
    margin-bottom: 44px;
}
#notes .note-info{
    display: flex;
    gap: 24px;
}
.note-info .note-card{
    padding:69px 24px 21px 24px ;
}
.note-card img {
    background-color: #F95555;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 16px;
}
.note-card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
.note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.note-card{
    box-shadow: 0 0 30px 0 #0000001d;
}
#solution{
    margin: 120px auto;
}
.solution-container{
    display: flex;
    gap: 60px;
}
.solution-container{
    align-items: center;
}
.title-solution{
    margin-bottom: 20px;
}
.solution-info h2{
    color: #001931;
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    margin-bottom: 20px;
}
.solution-info p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}
.solution-list li{
    color: #001931;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
}
i.fa-solid.fa-circle-check {
    color: #30B868;
    padding: 0px 6px 0px 0px;
}
#access .access-container{
    background-color: #F7F6F2;
}
.access-container h2{
    color: #001931;
    font-size: 40px;
    font-weight: 700;
    padding-top: 80px;
    padding-bottom: 16px;
}
.access-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.access-container .btn{
    box-shadow: 0 10px 20px 0 #00000034;
    margin-bottom: 16px;
}
.access-container{
    padding: 0 0 80px;
    border-radius: 10px;
    margin-bottom: 120px;
}
#footer{
    background-color: #001931;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 120px 0 80px;
}
.social-icon{
    display: flex;
    gap: 16px;
}
.social-icon li{
    list-style: none;
    color: #000000;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 50%;
    font-size: 20px;
}
.social-icon li:hover{
    color: #ffffff;
    background-color: #469165;
    cursor: pointer;
}
.footer-bottom{
    padding: 32px 0 32px 0;
    color: #ffffff  ;
}
.footer-bottom p{
    font-size: 16px;
}
#footer h3{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 16px;
}
/* main style end */    

