*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

/* shared style start*/
.container{
    width: 80%;
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    background-color: #469165;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 7px;
    border: none; 
}
/* shared style end*/


/* main style start */

#head{
    background-color: #ffffff;
}
#head .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}
.header-container .menu{
    display: flex;
    gap: 32px;
    list-style-type: none;
    align-items: center ;
}

.header-container .menu a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}
/* main style end */